################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Variables/.vs/Variables/v16/Server/sqlite3
/Estructuras_Control_Flujo/.vs/Estructuras_Control_Flujo/v16/Server/sqlite3/db.lock
