################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Variables/.vs/Variables/v16/Server/sqlite3
